.menuOverlay {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); // 어두운 배경
  display: flex;
  justify-content: flex-end;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
  z-index: 1000;

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  .menuContent {
    background-color: #fff;
    width: 80%; // 메뉴 너비 (화면의 80%)
    max-width: 400px;
    height: 100%;
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }

  &.visible .menuContent {
    transform: translateX(0);
  }
}
