.Container {
  height: 100%;
  padding-top: 64px;
  display: flex;
  flex-direction: column;
}

.tabs {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 15px 0;
  border-bottom: 1px solid #e0e0e0;
}

.tab {
  flex: 1;
  text-align: left;
  padding-bottom: 10px;
  padding-left: 38px;
  cursor: pointer;
  color: var(--gray-400);
  font-weight: 400;
  font-size: 15px;
  line-height: 25.2px;
  transition: color 0.3s;
}

.tab.active {
  color: var(--main);
  font-weight: 600;
}

.indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% / 3);
  height: 3px;
  background-color: var(--main);
  transition: transform 0.3s ease;
}

.verticalLine {
  height: 1px;
  width: 100%;
  background-color: #e0e0e0;
  margin-top: 20px;
}

.section {
  padding: 0 20px;
  height: 100%;
  overflow-y: scroll;

  h2 {
    padding-left: 7px;
    font-weight: 500;
    font-size: 14px;
    line-height: 23.5px;
    color: var(--black);
  }
}

.NoStudyContainer {
  margin-top: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
