.swiperContainer {
  width: 100%;
  padding: 10px 20px 30px 20px;
  position: relative;
}

.iconItem {
  text-align: center;
}

.iconRow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-items: center;
}

.iconRowSecond {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-items: start;
}

.category {
  color: var(--gray-700);
  font-size: 13px;
  line-height: 21.84px;
}
