.container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.imageContainer {
    background-color: var(--gray-100);
    width: 96px;
    height: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}

.category {
    color: var(--gray-700);
    text-decoration: none;
}