.container {
    display: flex;
    justify-content: center;
}

.cardBox {
    width: 436px;
    height: 212px;
    background-color: var(--gray-100);
    display: flex;
    flex-direction: column;
    border-radius: 7px;
}

.titleBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 20px;
}

.flag {
    width: 52px;
    height: 24px;
    color: var(--main-50);
    background-color: var(--main-200);
    font-size: 16px;
    text-align: center;
    line-height: 26.88px;
    margin-top: 3px;
}

.title{
    color: var(--gray-800);
    font-size: 22px;
    line-height: 35.2px;
}

.tagBox {
    color: var(--gray-400);
    font-size: 16px;
    margin: 0 20px 0 20px;
}

.detailBox {
    margin: 70px 20px 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.detail {
    font-size: 16px;
    color: var(--gray-700);
    margin-left: 15px;
    margin-right: 50px;

}
