.loginContainer {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--black);
}

.logoBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 200px;
  padding-left: 36px;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  > p:first-child {
    font-size: 36px;
    font-weight: 900;
    color: var(--main);
    gap: 10px;
    padding-top: 40px;
  }

  > p:nth-child(2) {
    font-size: 13px;
    font-weight: 500;
    line-height: 21.8px;
    color: var(--white);
    margin-top: 8px;
  }
}

.joinBox {
  width: calc(100% - 50px);
  padding-top: 50px;

  .kakaoBtn {
    cursor: pointer;
  }
}

.preview {
  display: inline-block;
  position: relative;
  padding-top: 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 170%;
  color: var(--white);
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    left: -10%;
    right: -10%;
    bottom: 0;
    height: 1px;
    background-color: var(--white);
  }
}
