.menuContainer {
  padding: 30px 20px;
  min-height: auto;
  background-color: var(--gray-50);
}

.studyCount {
  margin-bottom: 10px;
}

.emptyStudyBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  height: 65%;
}

.emptyTitleBox {
  margin-bottom: 15px;
}

.emptyTitle {
  font-size: 20px;
  margin-top: 20px;
}

.emptySubTitle {
  color: var(--gray-400);
  margin-top: 20px;
}

.existStudyBox {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttonTitle {
  font-size: 18px;
}
