.Container {
  position: fixed;
  bottom: 0;
  width: 390px;
  height: 54px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--black);
}

.ImageContainer {
  cursor: pointer;
}

.addImage {
  position: fixed;
  width: 54px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main);
  border-radius: 50%;
}
