.DeleteModalContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 340px;
    height: 158px;
    background-color: var(--gray-800);
    border-radius: 4px;
}

.ModalContent {
    color: var(--gray-50);
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
}

.BtnContainer {
    width: 340px;
    margin-top: 27px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}  

.btnCancel {
    border: none;
    cursor: pointer;
    width: 137px;
    height: 50px;
    padding: 10px 30px 10px 30px;
    background-color: var(--gray-100);
    font-size: 20px;
}

.btnDelete {
    border: none;
    cursor: pointer;
    width: 137px;
    height: 50px;
    padding: 10px 30px 10px 30px;
    background-color: var(--main-200);
    font-size: 20px;
}