.container {
  
}

.modalLargeBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 348px;
    height: 196px;
    background-color: var(--gray-800);
    border-radius: 8px;
}

.modalMiddleBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 342px;
    height: 158px;
    background-color: var(--gray-800);
    border-radius: 8px;
    gap: 10px;
}

.contentTop {
    color: var(--gray-50);
    font-size: 18.32px;
    margin-bottom: 15px;
}

.contentBottom {
    color: var(--gray-50);
    font-size: 16px;
    margin-bottom: 30px;
}

.contentSpan {
    color: var(--main-200);
    font-size: 18px;
}

.twoButtonBox {
    display: flex;
    flex-direction: row;
    gap: 10px;
}