.Container {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.Navigation {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 18px;
  margin-top: 20px;
  border-bottom: 1px solid #eaeaea;

  h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
  }

  .arrowImage {
    position: absolute;
    left: 30px;
    cursor: pointer;
  }

  .menuImage {
    position: absolute;
    right: 30px;
    cursor: pointer;
  }

  .searchImage {
    position: absolute;
    right: 75px;
    cursor: pointer;
  }
}

.noticeContainer {
  position: relative;
  margin: 20px 25px 0 25px;
  background-color: var(--gray-50);
  height: 34px;
  border-radius: 3px;
  display: flex;
  align-items: center;

  .megaPhoneImage {
    position: absolute;
    top: 4px;
    left: 13px;
  }

  p {
    font-weight: 500;
    font-size: 13px;
    line-height: 21.8px;
    padding-left: 50px;
  }

  .ArrowDownImage {
    position: absolute;
    right: 9px;
  }
}

.messageContainer {
  flex: 1; /* 메시지 영역이 남은 공간을 차지하도록 설정 */
  overflow-y: auto; /* 스크롤 가능 */
  padding: 10px;
}

.inputBoxContainer {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 84px;
  background-color: #000000;
  padding: 10px 20px;
  border-top: 1px solid #eaeaea;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
}

.inputBox {
  position: relative;
  width: 100%;
  height: 46px;
  border: 1px solid #eaeaea;
  border-radius: 16px;
  padding: 0 10px 0 50px;
  font-size: 14px;
  outline: none;
  background-color: #fff;
}

.inputAddIcon {
  position: absolute;
  left: 35px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  cursor: pointer;
}
