.FilterContainer {
  max-width: 500px;
  height: 100vh;
  background-color: var(--gray-50);
}

.ContentContainer {
  padding-left: 32px;
  max-height: calc(100% - 150px);
  overflow-y: scroll;
  background-color: var(--gray-50);
}

.ButtonContainer {
  margin-top: 50px;
  display: flex;
  gap: 8px;
}
