@import url("./reset.css");
@import url("./variables.css");

.root_container {
  max-width: 500px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}

@font-face {
  font-family: "GmarketSans";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSans";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff") format("woff");
  font-weight: 700;
  font-style: bold;
}

body,
button,
textarea,
input {
  font-family: "GmarketSans";
}
