.Container {
  position: relative;
  width: 52px;
  height: 26px;
  background-color: var(--gray-100);
  border-radius: 13px;
}

.toggleCircle {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 22px;
  height: 22px;
  background-color: var(--gray-400);
  border-radius: 50%;
  transition: transform 0.3s ease;
}
