.Container {
  background-color: var(--black);
  width: 100%;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Title {
  color: var(--white);
  font-size: 24px;
  font-family: "BlackHanSans";
}

.iconBell {
  position: absolute;
  right: 20px;
}
