.Container {
  width: 100%;
  height: 104px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--gray-800);

  position: sticky;
  width: 500px;
  bottom: 0;
}

.ImageContainer {
  cursor: pointer;
}
