.container {
    width: 100%;
    height: 100vh;
    background-color: var(--gray-50);
    display: flex;
    flex-direction: column;
}

.settingIcon {
    position: absolute;
    left: 430px;
    cursor: pointer;
}

.hrOrange {
    width: 100%;
    height: 4px;
    background-color: var(--main-200);
}

.contentContainer {
    overflow: auto;
    background-color: var(--gray-50);
    height: calc(100% - 70px);
    padding: 20px 29px;
}

.notice {
    font-size: 14px;
    font-weight: 500;
    line-height: 23.52px;
    color: var(--gray-600);
}