.Container {
  width: 100%;
  height: 100%;
  background-color: var(--gray-50);
}

.DetailContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.FilterItem {
  color: var(--gray-200);
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  cursor: pointer;
}

.FilterItem.active {
  color: var(--main-200);
}

.Separator {
  margin-top: 18px;
  width: 100%;
  height: 2px;
  background-color: var(--gray-100);
  position: relative;
}

.ActiveSeparator {
  position: absolute;
  height: 2px;
  background-color: var(--main-200);
  transition: all 0.3s ease;
}

.ContentContainer {
  margin-top: 24px;
  height: calc(100% - 170px);
  overflow: auto;
}

.InfoHeader {
  margin-left: 38px;
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
  color: var(--gray-600);
}

.CardBox {
  height: 100%;
}
