.large {
  width: 340px;
  height: 57px;
  border: none;
  font-size: 20px;
  border-radius: 5px;
}

.default {
  color: var(--white);
  background-color: var(--main);
}

.disabled {
  color: var(--gray-600);
  background-color: var(--gray-200);
}

.disabledColor {
  color: var(--gray-600);
  background-color: var(--gray-200);
}

.pointer {
  cursor: pointer;
}

@media (max-width: 500px) {
  .large_main {
    width: calc(100% - 48px);
  }

  .medium {
    width: calc((100% - 56px) / 2);
  }
}
