.large {
  width: 404px;
  height: 60px;
  border: none;
  font-size: 20px;
}

.medium {
  width: 222px;
  height: 60px;
  border: none;
  font-size: 24px;
}

.small {
  width: 138px;
  height: 50px;
  border: none;
  font-size: 20px;
}

.large_main {
  width: 452px;
  height: 60px;
  border: none;
  font-size: 20px;
}

.default {
  color: var(--gray-900);
  background-color: var(--main-200);
}

.confirm {
  color: var(--main-200);
  background-color: var(--main-100);
}

.pressed {
  color: var(--gray-400);
  background-color: var(--main-100);
}

.disabled {
  color: var(--gray-700);
  background-color: var(--gray-100);
}

.cancel {
  color: var(--gray-700);
  background-color: var(--gray-100);
}

.pointer {
  cursor: pointer;
}

@media (max-width: 500px) {
  .large_main {
    width: calc(100% - 48px);
  }

  .medium {
    width: calc((100% - 56px) / 2);
  }
}
