.Container {
  width: 100%;
}

.FilterContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 50px;
  background-color: var(--gray-700);
  color: var(--gray-400);
  font-size: 26px;
  font-weight: 500;
  line-height: 20px;
  box-sizing: border-box;
}

.SettingContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 24px;
  width: 100%;
  color: var(--gray-200);
  font-size: 26px;
  font-weight: 500;
  line-height: 20px;
}

.FilterItem p {
  cursor: pointer;
}

.FilterItem.active {
  color: var(--main-200);
}

.Seperator {
  margin-top: 24px;
  width: 100%;
  height: 2px;
  background-color: var(--gray-100);
}

.ActiveSeperator {
  width: 20%;
  height: 2px;
  background-color: var(--main-200);
  position: absolute;
  transition: left 0.3s ease;
}
