.container {
    background-color: var(--gray-100);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    margin-bottom: 10px;
    width: 400px;
    border-radius: 5px;
}

.leftBox {
    display: flex;
}

.name {
    color: var(--gray-700);
    font-size: 16px;
    line-height: 26.88px;
    margin-left: 20px;
}

.info {
    font-size: 16px;
    color: var(--gray-400);
    line-height: 26.88px;
    text-align: right;
    width: 276px;
}