.Container {
    width: 100%;
    height: 100vh;
    background-color: var(--gray-50);
}

.TopContainer {
    padding: 20px 30px;
}

.Top {
    display: flex;
    justify-content: space-between;
}

.PercentageBox {

}

.PercentTitle {
    color: var(--gray-600);
    font-size: 14px;
    line-height: 23.52px;
    display: flex;
    justify-content: space-between;
}

.Percent {
    font-size: 14px;
    color: var(--main-200);
    line-height: 23.52px;
    margin-left: 0.7rem;
}

.MemberBox {
    margin-top: 30px;
}

.Hr {
    width: 100%;
    height: 8px;
    background-color: var(--gray-100);
}

.BottomContainer {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
}

.FilterBox{
    display: flex;
    gap: 30px;
}

.Filter {
    font-size: 14px;
    line-height: 23.52px;
    color: var(--gray-400);
    cursor: pointer;
    margin-bottom: 10px;
}

.Filter.active {
    color: var(--gray-800);
}

.PublicToDoBox {

}

.MyToDoBox {

}

.ToDoTitle {
    font-size: 16px;
    line-height: 26.88px;
    color: var(--gray-800);
    margin: 10px 0;
}

.InputBox {
    
}