.DurationContainer {
  position: relative;
  width: 500px;
  height: 500px;
  padding: 40px 32px 0 32px;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-sizing: border-box;
}

.DurationItem {
  margin-top: 16px;
  font-size: 24px;
  font-weight: 500;
  line-height: 38px;
  color: var(--gray-400);
  border-bottom: 2px solid var(--gray-100);
  padding-bottom: 10px;
  cursor: pointer;
}

.LastItem {
  border-bottom: none;
}

.DurationItem.Selected {
  color: var(--main-200);
}

.ButtonContainer {
  position: absolute;
  width: 100%;
  bottom: 36px;
  left: 24px;
  display: flex;
}
