.FastContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--gray-50);
}

.seperator {
  width: 100%;
  height: 5px;
  background-color: var(--main-100);
}

.progressBar {
  width: 100%;
  height: 5px;
  background-color: var(--main-200);
  transition: width 0.5s ease;
}

.ContentContainer {
  margin-top: 26px;
}

.SwipeContainer {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.Content {
  margin-left: 36px;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: var(--gray-800);
}

.ListHeader {
  display: flex;
  gap: 8px;
}

.ListHeader p {
  margin-top: 24px;
}

.ListBox {
  position: relative;
  width: 390px;
  height: 350px;
  background-color: var(--gray-100);
  line-height: 27px;
  padding: 0 40px;
  margin: 0 auto;
}

.ListCategory {
  margin-top: 24px;
  width: 60px;
  height: 24px;
  background-color: var(--main-200);
  color: var(--gray-50);
  font-size: 16px;
  line-height: 27px;
  text-align: center;
}

.ListTitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  color: var(--gray-800);
}

.participantContainer {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 23.5px;
  color: var(--gray-700);
}

.participant {
  color: var(--main-200);
}

.CalendarContainer {
  display: flex;
  gap: 8px;
}

.DayContainer {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dateContainer {
  display: flex;
}

.dateContainer p {
  font-weight: 500;
  font-size: 14px;
  line-height: 23.5px;
  color: var(--gray-700);
}

.PeopleContainer {
  display: flex;
  margin-top: 40px;
  gap: 12px;
}

.Dday {
  padding: 0 8px;
  height: 24px;
  background-color: var(--main-100);
  color: var(--main-200);
  font-size: 14px;
  line-height: 23.5px;
  text-align: center;
  margin-left: 90px;
}

.SmallBtnContainer {
  position: absolute;
  right: 24px;
  bottom: 24px;
}

.ButtonContainer {
  width: 100%;
  display: flex;
  position: absolute;
  left: 24px;
  bottom: 32px;
  gap: 8px;
}

.tagsContainer {
  display: flex;
  gap: 8px;
  margin-top: 36px;
  font-size: 16px;
  line-height: 27px;
  color: var(--gray-600);
}

.Description {
  margin-top: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 23.5px;
  color: var(--gray-400);
}

.goHomeBtnContainer {
  display: flex;
  justify-content: center;
  margin-top: 36px;
}
