.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Input {
  font-size: 14px;
  font-weight: 600;
  width: 325px;
  height: 38px;
  border: none;
  border-radius: 2px;
  padding-left: 15px;
}

.Input.default {
  background-color: var(--gray);
  color: var(--black);
}

.Input.searchPage {
  background-color: var(--white);
  color: var(--gray-777);
}

.Input::placeholder {
  font-size: 14px;
  color: var(--gray-777);
}

.Input:focus {
  outline: none;
}

.searchIcon {
  position: absolute;
  right: 30px;
}
