.container {
  display: flex;
  flex-direction: column;
  height: 40px;

}

.input {
  font-size: 16px;
  width: 430px;
  height: 40px;
  border: none;
  background-color: var(--gray-100);
  color: var(--gray-400);
  margin-bottom: 10px;
  border: none;
  padding-left: 15px;
}

.input::placeholder {
  font-size: 16px;
  color: var(--gray-400);
}
