.container {
  width: 100%;
  height: 100vh;
  background-color: var(--gray-50);
}

.nav{
  height: 70px;
  background-color: var(--gray-800);
  width: 100%;
}

.ProfileTop {
  padding: 20px 30px 20px 30px;
}

.ProfileBox {
  display: flex;
  margin-bottom: 30px;
}

.ProfileEditBox {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 5px;
}

.nickname {
  font-size: 16px;
  line-height: 26.88px;
  color: var(--gray-800);
}

.editProfile {
  font-size: 16px;
  color: var(--gray-400);
  line-height: 26.88px;
}

.ProfileRatingBox {
  padding: 10px 15px;
  margin-bottom: 30px;
  height: 80px;
  background-color: var(--gray-800);
}

.ratingBoxTop {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.ratingTitle {
  font-size: 20px;
  line-height: 32px;
  color: var(--gray-50);
}

.ProfileProgressBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ProfileRating {
  display: flex;
  align-items: center;
  gap: 10px;
}

.score {
  font-size: 20px;
  color: var(--gray-50);
}

.ProfileMenuBox {
  display: flex;
  justify-content: space-evenly;
}

.ProfileMenu {
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.studyMenuKey {
  font-size: 16px;
  color: var(--gray-800);
}

.studyMenuValue {
  font-size: 20px;
  color: var(--gray-600);
}

.ContentContainer {
  padding-left: 32px;
  max-height: calc(100% - 150px);
  overflow-y: scroll;
  background-color: var(--gray-50);
}

.ButtonContainer {
  margin-top: 50px;
  display: flex;
  gap: 8px;
}

.hr {
  background-color: var(--gray-100);
  height: 7px;
  width: 100%;
}

.serviceInfoBox {
  padding: 20px 30px 10px 30px;
}

.serviceInfo {
  font-size: 16px;
  color: var(--gray-800);
  margin-bottom: 15px;
}

.service {
  cursor: pointer;
  color: var(--gray-400);
  font-size: 16px;
  margin-bottom: 20px;
}

.footer {
  position: sticky;
  width: 100%;
  bottom: 0;}
