.Container {
  height: calc(100dvh - 78px);
  overflow-y: scroll;
}

.section {
  padding: 23px 25px 0 25px;

  h2 {
    font-weight: 500;
    font-size: 14px;
    line-height: 23.5px;
  }
}

.noStudyContainer {
  width: 100%;
  height: calc(100dvh - 200px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttonContainer {
  width: 390px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
