.overLay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.overLay.open {
  opacity: 1;
  pointer-events: auto;
}

.bottomSheet {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 390px;
  height: 367px;
  background-color: white;
  border-radius: 30px 30px 0 0;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(100%);
  transition: transform 0.5s cubic-bezier(0, 0.57, 0.3, 0.86);
}

.bottomSheet.open {
  transform: translateY(0);
}

.sheetContent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 26px 28px;

  h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 38.4px;
  }
}

.iconX {
  top: 22px;
  right: 22px;
  position: absolute;
  cursor: pointer;
}

.imageContainer {
  position: relative;
  margin-top: 20px;
}

.profileImage {
  border-radius: 50%;
}

.cameraContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--gray-200);
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.camera {
  cursor: pointer;
}

.inputContainer {
  position: relative;
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--black);
}

.duplicate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 77px;
  height: 24px;
  position: absolute;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: var(--main);
  background-color: var(--orange-100);
  right: 0;
  bottom: 8px;
  border: 1px solid var(--main);
  border-radius: 3px;
  cursor: pointer;
}

.sheetInput {
  font-weight: 600;
  font-size: 20px;
  line-height: 33.6px;
  margin-top: 20px;
  width: 100%;
  text-align: center;
  color: var(--black);
}

.ButtonContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.errContainer {
  margin-top: 5px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.duplicateMessage {
  display: inline-flex;
  gap: 2px;
  align-items: center;
  width: fit-content;
  height: 20px;
  font-weight: 400;
  font-size: 10px;
  line-height: 16.8px;
  background-color: var(--warning);
  border-radius: 5px;
  padding: 2px 6px;
  white-space: nowrap;
}
