.container {
  position: relative;
  width: 100%;
  height: calc(100% - 78px);
  display: flex;
  flex-direction: column;
  background-color: var(--gray-50);
}

.iconBell {
  position: absolute;
  top: 16px;
  right: 24px;
  cursor: pointer;
}

.searchInputBox {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  height: fit-content;
  background-color: var(--gray-800);
}

.recentSearchBox {
  color: var(--gray-800);
  margin: 20px 30px 0 30px;
}

.recentBoxTop {
  display: flex;
  justify-content: space-between;
}

.delete {
  color: var(--gray-600);
  cursor: pointer;
}

.recentKeywordBox {
  margin-top: 20px;
  height: 40px;
}

.recentKeyword {
  width: fit-content !important;
}

.hrLine {
  margin-top: 14px;
  width: 100%;
  height: 7px;
  background-color: var(--gray-100);
}

.popularBox {
  margin: 20px 30px 0 30px;
}

.popularKeywordBox {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  gap: 10px;
}

.keyword1 {
  grid-area: 1 / 1;
}
.keyword2 {
  grid-area: 2 / 1;
}
.keyword3 {
  grid-area: 3 / 1;
}
.keyword4 {
  grid-area: 1 / 2;
}
.keyword5 {
  grid-area: 2 / 2;
}
.keyword6 {
  grid-area: 3 / 2;
}

.popularKeywordBox p:nth-child(3),
.popularKeywordBox p:nth-child(6) {
  border-bottom: none;
}

.popularKeyword {
  margin-top: 8px;
  padding-bottom: 8px;
  font-size: 14px;
  line-height: 23.52px;
  color: var(--gray-600);
  border-bottom: 2px solid var(--gray-100);
  width: 190px;
  height: fit-content;
  cursor: pointer;
}

.shortCutBox {
  margin: 20px 30px 20px 30px;
}

.iconBox {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.icon {
  cursor: pointer;
}

.footerBox {
  position: sticky;
  width: 100%;
  bottom: 0;
}
