.container {
  position: relative;
  width: 100%;
  background-color: var(--gray-50);
  display: flex;
  flex-direction: column;
}

.speedBtnBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.buttonBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 9px;
}

.ContentContainer {
  overflow-y: scroll;
  background-color: var(--gray);
}

.titleBox {
  display: flex;
  align-items: center;
  color: var(--black);
  font-size: 22px;
  line-height: 33.8px;
  justify-content: space-between;
  padding: 20px 40px 20px 40px;
}

.btnMore {
  border: none;
  cursor: pointer;
  display: flex;
  line-height: 28px;
  font-size: 18px;
  color: var(--gray-600);
  margin-top: 10px;
}

.card {
  margin-bottom: 20px;
}

.footerBox {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.NoStudy {
  margin-top: -120px;
}
