.container {
    width: 100%;
    background-color: var(--gray-50);
    display: flex;
    flex-direction: column;
}

.navBox {
    position: sticky;
    width: 500px;
    height: 100px;
    background-color: var(--gray-800);
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.searchIcon {
    cursor: pointer;
}

.alertIcon {
    cursor: pointer;
}

.buttonBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 9px;
    margin-top: 30px;
}

.ButtonBox {
    margin-top: 20px;
}

.line {
    width: 100%;
    height: 10px;
    background-color: var(--gray-200);
    margin-top: 30px;
}

.titleBox {
    display: flex;
    align-items: center;
    color: var(--gray-900);
    font-size: 26px;
    line-height: 33.8px;
    justify-content: space-between;
    padding: 20px 40px 20px 40px;
}

.btnMore {
    border: none;
    cursor: pointer;
    display: flex;
    line-height: 30.24px;
    font-size: 18px;
    color: var(--gray-600);
    margin-top: 10px;
}

.card {
    margin-bottom: 20px;
}