.cardWrapper {
}
.container {
  display: flex;
  justify-content: center;
}

.cardBox {
  width: calc(100% - 64px);
  height: 152px;
  background-color: var(--gray-100);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 7px;
  padding: 30px 20px;
}

.titleBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.title {
}

.flag {
  width: 52px;
  height: 24px;
  color: var(--main-50);
  background-color: var(--main-200);
  font-size: 16px;
  text-align: center;
  line-height: 26.88px;
  padding: 5px 10px;
}

.favoriteFlag {
  width: 52px;
  height: 24px;
  color: var(--gray-400);
  background-color: var(--gray-200);
  font-size: 16px;
  text-align: center;
  line-height: 26.88px;
}

.title {
  color: var(--gray-800);
  font-size: 22px;
  line-height: 35.2px;
}

.tagBox {
  color: var(--gray-400);
  font-size: 18.5px;
}

.tagTitle {
  margin: 3px;
}

.detailBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.detail {
  font-size: 16px;
  color: var(--gray-700);
  margin: 0 30px 0 10px;
}

.favoriteDetail {
  display: flex;
  align-items: center;
  gap: 10px;
}

.detailParticipants {
  display: flex;
  align-items: center;
}

.detailDate {
  display: flex;
  align-items: center;
}

.buttonCancel {
  background-color: var(--main-200);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 30px;
  font-size: 16px;
}

.favoriteTodo {
  display: flex;
  justify-content: space-between;
}

.todo {
  margin-right: 10px;
}

.buttonWrapper {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.buttonDetail {
  background-color: var(--main-200);
  border: none;
  outline: none;
  cursor: pointer;
}

.buttonFavorite {
  
}